.action__button {
  background-color: #3040c4;
  color: #ffffff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;

  &_secondary {
    color: $text-color-black;
    background-color: $color-white;
  }
}

.hide_desktop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}
.icon-arrow_right {
  display: block;
  width: 7px;
  height: 12px;

  background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png');
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}
